html, body {
  margin: 0;
  padding: 0;
  max-height: 100%;
}

body {
  background-color: rgb(235, 96, 45);
  font-family: 'Press Start 2P', Hans sans, sans-serif;
  color: rgb(39,58,152);
  margin: 0;
  display: grid;
  grid-template-rows: 1fr;
  height:max-content;
  max-height: 100%;
}

main {
  display: grid;
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding-bottom: 0px;
}

.inner {
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
/*styling for background*/
.border {
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  background-color: rgb(190, 182, 193);
}
/*styling for main content*/
.elements {
padding: 20px;
margin:20px;
max-height: 100%;
text-align: center;
}

.elements-right {
padding: 20px;
margin:20px;
max-height: 100%;
}
/*styling for images*/
.image {
max-height:500px;
padding:10px;
background-color: rgb(220,27,44);
}

header {
  background-color: rgb(235, 96, 45);
  display: flex;
  padding: top 0;

}

header .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 4em;
}
header nav ul {
  display: inline;
  margin-left: 1.5em;
  padding:15px;
}

header nav ul a {
color: black;
text-decoration: none;
text-transform: uppercase;
}

header nav ul a:hover {
  color: grey;
}

h1 {
  font-size: 30px;
  margin: 0;
}

.audiobar{
  padding:40px;
  padding-left:0;
  padding-top:0;
}

marquee {
  position:relative;
  bottom:0;
  right:0;
  left:0;
  height:auto;
  padding-top:5px;
  padding-bottom:10px;
  width:100%;
  color:white;
  background-color: #25242d;
}

.footer-inner a {
display:flex;
align-items:center;
justify-content:center;
flex-direction: column;
text-align:center;
text-decoration: none;
color: white;
}


@media (max-width: 768px) {
  /* Styles for smaller screens */

  html, body {
    margin: 0;
    padding: 0;
    max-height: 100%;
  }
  
  body {
    background-color: rgb(235, 96, 45);
    font-family: 'Press Start 2P', Hans sans, sans-serif;
    color: rgb(39,58,152);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
     grid-template-columns: 1fr;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .inner {
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
  }
  
  .border {
    padding: 10px;
    background-color: rgb(190, 182, 193);
  }
  
  .elements {
    padding: 20px;
    margin: 10px 0;
    text-align: center;
  }
  
  .elements-right {
    padding: 20px;
    margin: 10px 0;
  }
  
  .image {
    max-height: 300px;
    padding: 10px;
    background-color: rgb(220,27,44);
  }

  .smallimage {
    max-height: 70px;
    padding: 0px;
    background-color: rgb(220,27,44);
  }
  
  header {
    background-color: rgb(235, 96, 45);
  }
  
  header .inner {
    align-items: center;
    max-height: 4em;
  }
  
  header nav ul {
    display: flex;
    margin-left: 1.5em;
    padding: 0;
  }
  
  header nav ul a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
  }
  
  header nav ul a:hover {
    color: grey;
  }
  
  h1 {
    font-size: 20px;
    margin: 0;
    text-align: center;
  }

  h2 {
    font-size: 15px;
    margin: 0;
    text-align: center;
  }
  
  .audiobar {
    padding: 40px;
    margin-left: 2em;
    padding-left: 0;
    padding-top: 0;
  }

  .title{
    margin:10px;
  }
  
  marquee {
    position:relative;
    bottom:0;
    right:0;
    left:0;
    height:auto;
    padding-top:5px;
    padding-bottom:10px;
    width:100%;
    color:white;
    background-color: #25242d;
  }
  
  .footer-inner a {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    text-align:center;
    text-decoration: none;
    color: white;
  }
}

